.nav-item .nav-link {
  color: white;
}
body{
  background-color: rgb(49, 49, 49);
}

.pointer {
  cursor: pointer;
}

header {
  height: 70vh;
  background-image: url('../app/assets/wraper.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.col-md-4 .bg-dark ,.col-lg-4 .bg-dark , .custom-shadow {
  box-shadow: 2px 3px 12px 1px black;
}

.col-md-4:hover , .col-md-6:hover ,.col:hover{
  transform: scale(1.05);
}

.col-md-4,.col-md-6,.col {
  transition: all .8s;
}
.col-md-4 .bg-dark,.col-md-6 .bg-dark{
  min-height: 23rem;
}

.bg-dark-custom{
  background-color: rgb(78, 78, 78);
}
#containerRegisterForm .col-md-6{
  transition: none;
  transform: none;
}
#containerRegisterForm{
  height: 75vh;
  transform: translateY(10%);
}